# Based on the user unit

[Unit]
Description=PulseAudio Sound Service
After=adbd.service

[Service]
# Note that notify will only work if --daemonize=no
Type=notify
ExecStartPre=/bin/sh -c "while [ 1 ]; do if [ -f "/sys/kernel/snd_card/card_state" ]; then chmod 0666 /sys/kernel/snd_card/card_state; exit 0; else sleep 1; fi done"
ExecStart=/usr/bin/pulseaudio --system --daemonize=no -vvvv
Restart=on-failure
StateDirectory=pulse

[Install]
WantedBy=multi-user.target
