# Based on the user unit

[Unit]
Description=PulseAudio Sound Service
#Requires=volatile-var-lib-pulse.service
After=volatile-var-lib-pulse.service adbd.service adsprpcd_audiopd.service

[Service]
# Note that notify will only work if --daemonize=no
Type=notify
ExecStart=/usr/bin/pulseaudio --system --daemonize=no -vvvv
Restart=on-failure
StateDirectory=pulse

[Install]
WantedBy=multi-user.target
