[Unit]
Description=Bind mount writable /var/lib/pulse
DefaultDependencies=false
Before=local-fs.target
ConditionPathExists=/systemrw/var/lib/pulse
RequiresMountsFor=/systemrw/var/lib /var/lib
ConditionPathIsReadWrite=/systemrw/var/lib
ConditionPathIsReadWrite=!/var/lib/pulse
Requires=systemrw-var-lib-pulse.service
After=systemrw-var-lib-pulse.service

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
#please note making the directory (mkdir) /systemrw/var/lib/pulse is handled by mount-copybind in systemrw-var-lib-pulse.service as it cannot be allowed here by selinux.
ExecStart=/bin/sh -c '/bin/mount -o bind /systemrw/var/lib/pulse /var/lib/pulse'
ExecStop=/bin/umount /var/lib/pulse

[Install]
WantedBy=pulseaudio.service
